body {
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monospace;
}

button {
    margin: 350px;
    padding: 16px 35px;
    font-size: 40px;
    background: linear-gradient(45deg, red, green);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 25px;
}

#scene {
    position: relative;
    width: 768px;
    image-rendering: pixelated;
    display: none;
}

#background {
    width: 100%;
    image-rendering: pixelated;
}

/* TEXTO DE LA PANTALLA */
#screenText {
    position: absolute;
    top: 200px;
    left: 360px;
    width: 300px;
    color: #7CFF7C;
    font-size: 25px;
    line-height: 1.4;
    white-space: pre-wrap;
}

#mouth {
    position: absolute;

    /* Punto exacto donde está la boca en la imagen */
    left: 225px;
    top: 270px;

    /* TAMAÑO (AJUSTABLE) */
    width: 20px;
    height: 10px;

    background: black;

    /* CENTRADO REAL */
    transform: translate(-50%, -50%);

    /* Mantener look pixel */
    image-rendering: pixelated;
}